@charset "utf-8";
#bannner{
    height: 440px;
    width: 100%;
}

.secund{
    font-size: 18px ;
    color:#F2D750;
}

.principal{
    background-color: #fc65f234;
    margin: 20px;
    padding:10px;
}
body{
    background-color:#8C3926;
    color: #080706 ;
    
}
h1{
    color:#080706;
    padding-left: 20PX;
}
.itens{
    font-style: italic;
}
.beneficios{
    background-attachment: fixed;
    background-color: #daff5338;
    margin: 20px;
    padding:10px;
    text-align: top;

}
.corte{
    width: 40%;
    height: 40%;
}

