@charset "utf-8";
#bannner{
    height: 440px;
    width: 100%;
}
.secund{
    font-size: 18px ;
    color:#F2D750;
}
body{
    background-color: #e27508;
}
.principal{
    background-color: #4c941c;
}
body{
    background-color:#964a4a73 ;
    color: #080706 ;
}
h1{
    color:#1C8394;
}
.itens{
    font-style: italic;
}
.beneficios{
    background-attachment: fixed;
    background-color: crimson;
}
