@charset "utf-8";
#bannner{
    height: 440px;
    width: 100%;
}

.secund{
    font-size: 18px ;
    color:#F2D750;
}

.principal{
    background-color: #4c941c;
}
body{
    background-color:#ff0000 ;
    color: #080706 ;
}
h1{
    color:#1C8394;
}
.itens{
    font-style: italic;
}
.beneficios{
    background-attachment: fixed;
    background-color: rgb(220, 20, 210);
}
